<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EZBlocker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EZBlocker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <EZBlocker.Properties.Settings>
            <setting name="UID" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpotifyMute" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserEducated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserEducatedAboutTrayIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAnalytics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
        </EZBlocker.Properties.Settings>
    </userSettings>
<applicationSettings>
        <EZBlocker.Properties.Settings>
                <setting name="WebsiteUrl" serializeAs="String">
                        <value>https://github.com/TheEyeOfBrows/Spotify-Ad-Blocker</value>
                </setting>
                <setting name="VersionCheckUrl" serializeAs="String">
                        <value>https://github.com/TheEyeOfBrows/Spotify-Ad-Blocker</value>
                </setting>
                <setting name="GoogleAnalyticsId" serializeAs="String">
                        <value>UA-117486985-1</value>
                </setting>
                <setting name="GoogleAnalyticsDomainHash" serializeAs="String">
                        <value>173434324</value>
                </setting>
        </EZBlocker.Properties.Settings>
    </applicationSettings>
</configuration>
